
.c-max {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.bltmc--black-background {
  background-color: rgba(black, 0.95);
}

.bltmc-mdl-layout__header--menu-open {
  @extend .bltmc--black-background;
}

.bltmc-footer-space {
  height: 200px;

  @media screen and (max-width: $grid-desktop-breakpoint) {
    height: 0;
  }
}

.mdl-mega-footer.bltmc-mdl-mega-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;

  @media screen and (max-width: $grid-desktop-breakpoint) {
    position: inherit;
  }
}
