
.bltmc--black-background {
  background-color: rgba(black, 0.95);
}

.bltmc-mdl-layout__header--menu-open {
  background-color: transparent;
}

.bltmc-footer-space {
  visibility: hidden;
  height: 200px;

  @media screen and (max-width: $grid-desktop-breakpoint) {
    height: 0;
  }
}

.mdl-mega-footer.bltmc-mdl-mega-footer {
  @extend .mdl-shadow--2dp;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;

  @media screen and (max-width: $grid-desktop-breakpoint) {
    position: inherit;
    box-shadow: none;
  }
}
