
/* ==========  TYPOGRAPHY  ========== */

$preferred_font: 'Raleway', sans-serif;
$performance_font: 'Raleway', sans-serif;

/* GRID */

$grid-desktop-columns: 12;
$grid-tablet-columns: 12;

/* Colors */

$color-primary: $palette-red-500;
$color-primary-dark: $palette-red-700;
$color-accent: $palette-lime-A200;

//$color-primary-contrast: $color-dark-contrast;
//$color-accent-contrast: $color-dark-contrast;

$layout-header-bg-color: unquote("rgb(#{$palette-blue-700})");