
.bltmc-menu {
  @extend .bltmc--black-background;

  visibility: hidden;
  z-index: $z-index-menu;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;

  &.bltmc-menu--open {
    visibility: visible;
  }

}

.bltmc-menu__holder {
  display: table;
  height: 100%;
  width: 100%;

  .bltmc-menu__items {
    display: table-cell;
    vertical-align: middle;
    padding: $data-table-header-height 0;

  }

  .bltmc-menu__item {
    text-align: center;
  }

}
